<div class="main-page-container cost-centre-management">
  <div
    class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between gap-3 w-100 mb-1"
  >
    <h2 class="m-0">Cost Centre Management</h2>
    <button
      class="btn btn-primary align-self-start align-self-sm-auto d-inline-flex align-items-center gap-1"
      (click)="openCreate()"
    >
      <span class="material-symbols-outlined">create</span>
      Create
    </button>
  </div>
  <div class="row g-3 align-items-stretch">
    <app-stat-box-component
      header="Total Cost Centres"
      [content]="10"
      icon="account_tree"
      iconColor="#eb6a00"
      iconBackgroundColor="#fff4ea"
      size="small"
      class="col-12 col-sm-6 col-xl-3"
    />
    <app-stat-box-component
      header="Active Centres"
      [content]="8"
      icon="check_circle"
      iconColor="#3b82f6"
      iconBackgroundColor="#EFF6FF"
      size="small"
      class="col-12 col-sm-6 col-xl-3"
    />
    <app-stat-box-component
      header="Total Budget"
      [content]="'€1000'"
      icon="account_balance_wallet"
      iconColor="#10b981"
      iconBackgroundColor="#ECFDF5"
      size="small"
      class="col-12 col-sm-6 col-xl-3"
    />
    <app-stat-box-component
      header="With Budgets"
      [content]="6"
      icon="savings"
      iconColor="#7c3aed"
      iconBackgroundColor="#f3e8ff"
      size="small"
      class="col-12 col-sm-6 col-xl-3"
    />
  </div>

  <!-- FILTER + LIMIT -->
  <app-cost-centre-filter-component
    [limitSelection]="limitSelection"
    [limit]="limit"
    (updateFilter)="updateFilterOptions($event)"
    (limitChange)="onLimitChange($event)"
  ></app-cost-centre-filter-component>

  <!-- COST CENTRE TABLE -->
  <app-cost-centre-list-component
    [costCentres]="costCentres"
    (openEdit)="openEdit($event)"
    (openDelete)="openDelete($event)"
  ></app-cost-centre-list-component>

  <!-- PAGINATION -->
  <app-pagination-component
    [hasNext]="hasNext"
    [hasPrev]="hasPrev"
    [currentPage]="page"
    [maxPage]="getTotalPages()"
    (next)="nextPage()"
    (prev)="previousPage()"
  ></app-pagination-component>

  @if (editingCostCentre) {
    <app-cost-centre-edit-component
      [costCentre]="editingCostCentre"
      (saveEvent)="onCostCentreSaved()"
      (closeEvent)="closeEdit()"
    ></app-cost-centre-edit-component>
  }

  @if (deletingCostCentre) {
    <app-cost-centre-delete-component
      [costCentre]="deletingCostCentre"
      (deleteEvent)="onCostCentreDeleted()"
      (closeEvent)="closeDelete()"
    ></app-cost-centre-delete-component>
  }
</div>
