<div id="home-page">
  <h1 class="mb-5">{{ getGreeting()}}</h1>
  <div class="row gx-4 gx-xl-5 gy-4">
    <div class="col-12 col-sm-6 col-xl-3">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="small">
      </app-box-component>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="small">
      </app-box-component>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="small">
      </app-box-component>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="small">
      </app-box-component>
    </div>
  </div>

  <div class="row gx-4 gx-xl-5 gy-4 mt-1">
    <div class="col-12 col-xl-6">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="medium">
      </app-box-component>
    </div>
    <div class="col-12 col-xl-6">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="medium">
      </app-box-component>
    </div>
  </div>

  <div class="row gx-4 gx-xl-5 gy-4 mt-1">
    <div class="col-12">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="large">
      </app-box-component>
    </div>
  </div>
</div>
