<div class="main-page-container">
  <div class="d-flex flex-column gap-1 mb-4">
    <h1 class="m-0">{{ greeting }}</h1>
    <p class="mb-0 text-body-secondary">
      Get an overview of your reimbursement activity and pending actions.
    </p>
  </div>
  <div class="row gx-4 gx-xl-5 gy-4">
    <div class="col-12 col-sm-6 col-xl-3">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="small">
      </app-box-component>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="small">
      </app-box-component>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="small">
      </app-box-component>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="small">
      </app-box-component>
    </div>
  </div>

  <div class="row gx-4 gx-xl-5 gy-4 mt-1">
    <div class="col-12 col-xl-6">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="medium">
      </app-box-component>
    </div>
    <div class="col-12 col-xl-6">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="medium">
      </app-box-component>
    </div>
  </div>

  <div class="row gx-4 gx-xl-5 gy-4 mt-1">
    <div class="col-12">
      <app-box-component title="Offene Zahlungen" subtitle="Noch ausstehend" size="large">
      </app-box-component>
    </div>
  </div>
</div>
