.env
.DS_Store
.dotnet-home/
.vs/
.idea
/backend/PayTrack/uploads/*
!/backend/PayTrack/uploads/
!/backend/PayTrack/uploads/presentation-invoices/
!/backend/PayTrack/uploads/presentation-invoices/*
/.idea/
/.claude/


AGENTS.md
