# Google cloud setup (not yet used!)
GOOGLE_CLIENT_ID=123
API_BASE_URL=http://localhost:5154
GOOGLE_CLIENT_SECRET=123

### SONARQUBE

# Replace with tokens generated in Sonarqube for each project
SONARQUBE_TOKEN_BACKEND=sqp_123456xxx
SONARQUBE_TOKEN_FRONTEND=sqp_123456xxx

# replace with project names defined in sonarqube
SONAR_PROJECT_NAME_BACKEND=PayTrack_Backend
SONAR_PROJECT_NAME_FRONTEND=PayTrack_Frontend
