<div class="team-management">
  <div class="header">
    <h2>Team Management</h2>
    <button class="create-btn" (click)="openCreate()">Create New</button>
  </div>

  <app-team-filter-component
    [limitSelection]="limitSelection"
    [limit]="limit"
    (updateFilter)="updateFilterOptions($event)"
    (limitChange)="onLimitChange($event)"
  ></app-team-filter-component>

  <app-team-list-component
    [teams]="teams"
    [costCentres]="costCentres"
    (openEditTeam)="openEditTeam($event)"
  ></app-team-list-component>

  <app-pagination-component
    [hasNext]="hasNext"
    [hasPrev]="hasPrev"
    [currentPage]="page"
    [maxPage]="getTotalPages()"
    (next)="nextPage()"
    (prev)="previousPage()"
  ></app-pagination-component>

  <!-- TODO: EDIT POPUP -->
  @if (editingTeam) {
    <app-team-edit-modal-component
      [team]="editingTeam"
      [costCentres]="costCentres"
      (saveEvent)="saveTeam($event)"
      (deleteEvent)="openDeleteTeam($event)"
      (closeEvent)="closeEdit()"
    ></app-team-edit-modal-component>
  }

  @if (deletingTeam && deleteImpact) {
    <app-team-delete-impact-modal-component
      [impact]="deleteImpact"
      [isTeamActive]="deletingTeam.isActive !== false"
      (confirmDelete)="confirmDelete()"
      (closeEvent)="closeDelete()"
    ></app-team-delete-impact-modal-component>
  }
</div>
