<!-- user-edit.component.html -->
<app-modal-component
    title="Edit User"
    info="Update User Information and Roles"
    (closeEvent)="onClose()"
  >
  @if (user.id == -1) {
  <span>User not found.</span>
  } @else {
  <label>
    Name
    <input [(ngModel)]="user.name" />
  </label>

  <label>
    Active
    <input [(ngModel)]="user.isActive" type="checkbox" />
  </label>

  <label>
    Role
    <select [(ngModel)]="user.role">
      @for (role of roleOptions; track role.value) {
      <option [ngValue]="role.value">
        {{ role.text }}
      </option>
      }
    </select>
  </label>

  <label>
    Teams
    <select [(ngModel)]="user.team.id">
      @for (team of teams; track team.id) {
      <option [ngValue]="team.id">
        {{ team.name }}
      </option>
      }
    </select>
  </label>

  <div class="modal-actions">
    <button (click)="onClose()">Cancel</button>
    <button (click)="onSave()">Save</button>
  </div>
  }
</app-modal-component>
