<div class="main-page-container user-management">
  <div class="d-flex mb-1">
    <h2 class="align-self-start">User Management</h2>
  </div>

  <div class="row g-3 align-items-stretch">
    <app-stat-box-component
      header="Total Users"
      [content]="totalUserCount"
      icon="group"
      size="small"
      class="col-12 col-sm-6 col-xl-3"
    />
    <app-stat-box-component
      header="Active Users"
      [content]="activeUserPlaceholderCount"
      icon="check"
      iconColor="#10b981"
      iconBackgroundColor="#ECFDF5"
      size="small"
      class="col-12 col-sm-6 col-xl-3"
    />
    <app-stat-box-component
      header="Inactive Users"
      [content]="inactiveUserPlaceholderCount"
      icon="person_off"
      iconColor="#6b7280"
      iconBackgroundColor="#f3f4f6"
      size="small"
      class="col-12 col-sm-6 col-xl-3"
    />
    <app-stat-box-component
      header="Admins"
      [content]="adminUserPlaceholderCount"
      icon="shield"
      size="small"
      iconColor="#3b82f6"
      iconBackgroundColor="#EFF6FF"
      class="col-12 col-sm-6 col-xl-3"
    />
  </div>

  <app-user-filter-component
    [limitSelection]="limitSelection"
    [limit]="limit"
    (updateFilter)="updateFilterOptions($event)"
    (limitChange)="onLimitChange($event)"
  />

  <app-user-list-component
    [user]="user"
    [activeStatusPendingIds]="activeStatusPendingIds"
    (toggleActive)="toggleActive($event)"
    (openEditUser)="openEditUser($event)"
  />

  <app-pagination-component
    [hasNext]="hasNext"
    [hasPrev]="hasPrev"
    [currentPage]="page"
    [maxPage]="getTotalPages()"
    (next)="nextPage()"
    (prev)="previousPage()"
  ></app-pagination-component>

  @if (editingUser) {
    <app-user-edit-modal-component
      [user]="editingUser"
      [teams]="teams"
      (saveEvent)="onUserSaved()"
      (closeEvent)="closeEdit()"
    ></app-user-edit-modal-component>
  }
</div>
