<table class="TUR-table cost-centre-table">
  <thead>
    <tr>
      <th class="name-col">Name</th>
      <th class="description-col">Description</th>
      <th class="budget-col">Budgets</th>
      <th class="status-col">Status</th>
      <th class="actions-col">Actions</th>
    </tr>
  </thead>

  <tbody>
    @for (c of costCentres; track c.id) {
      <tr>
        <td class="name-col" data-label="Name">
          <a class="table-badge" [routerLink]="[c.id]">{{ c.name }}</a>
        </td>

        <td class="description-col" data-label="Description">{{ c.description }}</td>

        <td class="budget-col" data-label="Budget">
          @if (getActiveBudget(c.budgets); as activeBudget) {
            <span class="has-budgets">{{ activeBudget.targetAmount | currency: 'EUR' }}</span>
          } @else {
            <span class="no-budgets">No current budget</span>
          }
        </td>

        <td class="status-col" data-label="Status">
          <button
            type="button"
            class="status-btn status-badge"
            [class.active]="c.isActive"
            [class.inactive]="!c.isActive"
          >
            <!-- TODO: implement toggle functionality
            [title]="c.isActive ? 'Click to deactivate user' : 'Click to activate user'"
            [disabled]="isActiveStatusPending(u)"
            (click)="onToggleActive(u)"-->
            <span class="status-dot" aria-hidden="true"></span>
            {{ c.isActive ? 'Active' : 'Inactive' }}
          </button>
        </td>

        <td class="actions-col" data-label="Actions">
          <div class="action-buttons">
            <button
              type="button"
              class="btn btn-secondary icon-hover-btn"
              aria-label="Edit cost centre"
              (click)="onOpenEdit(c)"
            >
              <span class="material-symbols-outlined">edit</span>
              <span class="btn-text">Edit</span>
            </button>
            <button
              type="button"
              class="btn btn-outline-danger d-inline-flex align-items-center icon-hover-btn"
              aria-label="Delete cost centre"
              (click)="onOpenDelete(c)"
            >
              <span class="material-symbols-outlined">delete</span>
              <span class="btn-text">Delete</span>
            </button>
            <button
              type="button"
              class="btn btn-outline-primary d-inline-flex align-items-center icon-hover-btn"
              aria-label="Open cost centre details"
              [routerLink]="[c.id]"
            >
              <span class="material-symbols-outlined">info</span>
              <span class="btn-text">Info</span>
            </button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
