<div class="team-filter row g-3 m-0 p-3 rounded-2">
  <div class="col-12 col-md-6 col-xl">
    <input
      class="form-control"
      type="text"
      placeholder="Name..."
      (input)="onNameFilterChange($event)"
    />
  </div>

  <div class="col-12 col-md-6 col-xl-4">
    <input
      class="form-control"
      type="text"
      placeholder="Description..."
      (input)="onDescriptionFilterChange($event)"
    />
  </div>

  <div class="col-12 col-md-6 col-xl-auto">
    <select
      class="form-select"
      [(ngModel)]="filterIsActive"
      (ngModelChange)="onIsActiveFilterChange()"
    >
      <option [ngValue]="undefined">All Teams</option>
      <option [ngValue]="true">Only Active</option>
      <option [ngValue]="false">Only Inactive</option>
    </select>
  </div>

  <div class="col-12 col-md-6 col-xl-auto">
    <select
      class="form-select"
      [(ngModel)]="limit"
      (change)="onLimitChange()"
    >
      @for (l of limitSelection; track l) {
        <option [value]="l">{{ l }} per page</option>
      }
    </select>
  </div>
</div>
