@use 'variables' as v;

.team-filter select,
.team-filter input {
  background-color: v.$TUR-secondary-background;
  border: 1px solid white;
  height: 2.5rem;
}

.team-filter select:focus,
.team-filter input:focus {
  border-color: v.$TUR-primary-orange;
  box-shadow: 0 0 0 0.18rem rgba(v.$TUR-primary-orange, 0.14);
  outline: none;
}

.team-filter select {
  cursor: pointer;
}
