@use 'variables' as v;

#right-section-login {
  img {
    margin-bottom: 2.5rem;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    color: v.$TUR-primary-grey
  }
}

#left-section-login > p:first-of-type{
  color: v.$TUR-primary-grey;
  margin-bottom: 5rem;
  font-size: 1.5rem;
}

#left-section-login {
  padding: 10rem;

    #TUR-logo{
      margin-bottom: 3rem;
    }

    h1{
      margin-bottom: 1rem;
      font-size: 3rem;
    }



  .google-custom-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: white;
    border: v.$TUR-primary-grey 2px solid;
    padding: 1.2rem;
    margin-bottom: 2rem;
    span {
      font-size: 1.2rem;
      font-weight: 500;
    }

    &:hover {
      transform: scale(1.01);
    }
  }

  .google-custom-btn img {
    margin-right: 1rem;
    width: 23px;
    height: 23px;
  }

  .divider-with-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: 100%;
    color: #9aa0a6;
    font-size: 14px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    margin-bottom: 3rem;
  }

  .divider-with-text::before,
  .divider-with-text::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #bdbdbd;
  }

  #authorized-notice{
    text-align: center;
    border: 1px solid v.$TUR-primary-grey;
    border-radius: v.$size-xs;
    padding: 2rem;
    background: rgba(v.$TUR-primary-grey, 0.7);
    color:  grey;
  }
}
#mobile-text
{
  display: none;
}
#TUR-logo-mob{
  display: none;
}

//mobile
@media screen and (max-width: 600px) {
  #right-section-login {
    height: 35vh !important;
    padding-left: 2rem;
    padding-right: 2rem;
    img{
      margin-top: 3rem;
      width: 50%;
      display: none;
    }
    #TUR-logo-mob{
      display: block;
    }
    h1{
      display: none
    }
    p{
      display: none;
    }

    #mobile-text{
      display: block;
      padding-bottom: 2rem;
      border-bottom: 4px solid v.$TUR-primary-orange;
    }

  }

  #left-section-login > p:first-of-type{
    color: v.$TUR-primary-grey;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  #left-section-login {
    height: 20vh !important;
    #TUR-logo{
      display: none;
    }
    padding: 3rem;


  }

}
