<!--<div class="login-page">
  <div class="login-card">

    <div class="login-header">
      <h1>Welcome</h1>
      <p>Sign in to continue</p>
    </div>

    <div class="login-divider"></div>



  </div>
</div>-->
<div class="row">
  <section id="left-section-login" class="col-lg-6 order-2 order-lg-1 vh-100 d-flex justify-content-start justify-content-lg-center flex-column">
    <img id="TUR-logo" alt="TU Racing Team Logo Color" src="logos/TUR/TUWRxBMW_Logo_color1.png" width="40%">
    <h1>PayTrack</h1>
    <p>Melden Sie sich mit Ihrem TU Wien Google-Konto an</p>
    <button type="button" class="google-custom-btn" (click)="signInWithGoogle()">
      <img src="logos/google/google-icon.jpg" alt="" />
      <span>Über Google anmelden</span>
    </button>
    <div class="divider-with-text">
      <span>Verwenden Sie Ihre @racing.tuwien.ac.at Email</span>
    </div>
    <div id="authorized-notice">
      <span>Nur autorisierte TU Wien Racing Mitglieder können sich anmelden</span>
    </div>
  </section>
  <section id="right-section-login" class="col-lg-6 order-1 order-lg-2 px-0 background-tur-black vh-100 text-white d-flex justify-content-start justify-content-sm-center align-items-center flex-column">
    <img alt="PayTrack logo" src="logos/paytrack/paytrack-logo-no-padding@0.5x.png" width="20%"/>
    <img id="TUR-logo-mob" alt="TU Racing Team Logo Color" src="logos/TUR/TUWRxBMW_Logo_white_blue.png" >
    <h1 id="mobile-text">PayTrack</h1>
    <h1>Willkommen bei PayTrack</h1>
    <p>Vereinfachtes Rechnungsmanagement für TU Wien Racing</p>
  </section>
</div>

<!--    <div class="login-google">
      <div #googleButton></div>
    </div>-->
