@use 'variables' as v;

/* You can add global styles to this file, and also import other style files */
/* Jakob */
.background-tur-black {
  background-color: v.$TUR-primary-black;
}

.main-page-container {
  background-color: v.$TUR-secondary-background;
  margin: 4rem;
}

@media (max-width: 767.98px) {
  .main-page-container {
    margin: 1.5rem;
  }
}

body {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  font-family: var(--font-sans);
  font-size: v.$font-s;

  margin: 0;

  color: v.$text-color;
  background-color: v.$background-color;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .btn-primary {
    --bs-btn-active-bg: #{v.$TUR-primary-orange};
    --bs-btn-active-border-color: #{v.$TUR-primary-orange};
    --bs-btn-bg: #{v.$TUR-primary-orange};
    --bs-btn-border-color: #{v.$TUR-primary-orange};
    --bs-btn-disabled-bg: #{v.$TUR-primary-orange};
    --bs-btn-disabled-border-color: #{v.$TUR-primary-orange};
    --bs-btn-focus-shadow-rgb: 244, 127, 31;
    --bs-btn-hover-bg: #f3852d;
    --bs-btn-hover-border-color: #f3852d;

    background: v.$TUR-primary-orange;
    border-color: v.$TUR-primary-orange;
    border-radius: 0.5rem;
    color: white;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary:focus-visible {
    background: #f3852d;
    border-color: #f3852d;
    color: white;
  }
}
