@use 'variables' as v;
@use 'badges';

/* You can add global styles to this file, and also import other style files */
/* Jakob */
.background-tur-black {
  background-color: v.$TUR-primary-black;
}

.main-page-container {
  background-color: v.$TUR-secondary-background;
  margin: 4rem;
}

@media (max-width: 767.98px) {
  .main-page-container {
    margin: 1.5rem;
  }
}

body {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  font-family: var(--font-sans);
  font-size: v.$font-s;

  margin: 0;

  color: v.$text-color;
  background-color: v.$background-color;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .btn-primary {
    --bs-btn-active-bg: #{v.$TUR-primary-orange};
    --bs-btn-active-border-color: #{v.$TUR-primary-orange};
    --bs-btn-bg: #{v.$TUR-primary-orange};
    --bs-btn-border-color: #{v.$TUR-primary-orange};
    --bs-btn-disabled-bg: #{v.$TUR-primary-orange};
    --bs-btn-disabled-border-color: #{v.$TUR-primary-orange};
    --bs-btn-focus-shadow-rgb: 244, 127, 31;
    --bs-btn-hover-bg: #f3852d;
    --bs-btn-hover-border-color: #f3852d;

    background: v.$TUR-primary-orange;
    border-color: v.$TUR-primary-orange;
    border-radius: 0.5rem;
    color: white;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary:focus-visible {
    background: #f3852d;
    border-color: #f3852d;
    color: white;
  }
}

.btn-secondary {
  --bs-btn-active-bg: white;
  --bs-btn-active-border-color: rgb(235 106 0);
  --bs-btn-active-color: rgb(235 106 0);
  --bs-btn-bg: white;
  --bs-btn-border-color: rgb(235 106 0);
  --bs-btn-color: rgb(235 106 0);
  --bs-btn-focus-shadow-rgb: 235, 106, 0;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: rgb(235 106 0);
  --bs-btn-hover-color: rgb(235 106 0);

  background: white;
  color: rgb(235 106 0);

  align-items: center;
  border: 1px solid rgb(235 106 0);
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  gap: 0.45rem;
  justify-content: center;
  min-height: 2.4rem;
  padding: 0.5rem 0.85rem;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:focus-visible,
.btn-secondary.show {
  background-color: lightgray;
}

/* For Hints on invalid forms*/
.hint-error {
  color: v.$accent-dark;
  font-size: v.$font-xxs;
  font-weight: v.$font-semibold;
}
